.Body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 50px;
    flex: 2;
}
.Card{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    height: 350px;
    width: 400px;
}
#footer{
    margin-bottom: 1%;
    font-size: smaller;
}
#nav{
    flex:1;
}

@media only screen and (max-width: 600px) {
    .Body{
        margin-top: 5%;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 50px;
        width: 100%;
    }
    #footer{
        margin-top: 8%;
    }
    .Card{
        width: 80%;
    }
  }