.Body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 50px;
    flex: 2;
}
.Card{
    height: 350px;
    width: 400px;
}
#footer{
    margin-bottom: 1%;
}
#nav{
    flex:1;
}